{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-12 col-md-8 col-lg-6">
    <div class="card shadow-sm border-0">
      <div class="card-header bg-dark text-white">
        <h4 class="mb-0">{% trans "Change Password" %}</h4>
      </div>
      <div class="card-body">
        <form method="post" class="vstack gap-3">
          {% csrf_token %}
          {{ form.as_p }}
          <div class="d-flex justify-content-end gap-2">
            <a href="{% url 'edit_profile' %}" class="btn btn-jordan-outline">{% trans "Back to profile settings" %}</a>
            <button type="submit" class="btn btn-jordan">{% trans "Change Password" %}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
